@import './variables';
@import './mixins';

:root {
  line-height: 1.5;
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $color-text;
  background-color: $color-background;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
